@micropython.viper
def static_rgb(r:int, g:int, b:int, buf:ptr8, offset:int):
    buf[offset + OFFSET_R] = r
    buf[offset + OFFSET_G] = g
    buf[offset + OFFSET_B] = b

@micropython.viper
def color_fade(r1:int, g1:int, b1:int, r2:int, g2:int, b2:int, P:int, buf:ptr8, offset:int):
    buf[offset + OFFSET_R] = r1 + (P * (r2 - r1)) // 0xFF
    buf[offset + OFFSET_G] = g1 + (P * (g2 - g1)) // 0xFF
    buf[offset + OFFSET_B] = b1 + (P * (b2 - b1)) // 0xFF

@micropython.viper
def divide_brightness(buf:ptr8, div:int, LED_COUNT:int):
    for i in range(LED_COUNT * 3):
        buf[i] //= div

@micropython.viper
def rotate_LEDs(buf:ptr8, new_buf:ptr8, delta:int, LED_COUNT:int, fancy:bool, P:int):
    m:int = 3 * LED_COUNT
    if fancy:
        s:int
        for i in range(m):
            s = buf[(i - delta) % m]
            new_buf[i] = s + (P * (buf[(i - delta - 3) % m] - s)) // 0xFF
    else:
        for i in range(m):
            new_buf[i] = buf[(i - delta) % m]