body { text-align: center; }

.hbar, .bigButton { display: flex;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 0px; }
.hbar { height: 50px;
        margin-top: auto;
        border-top: 2px solid #EEE; }
.hbar>img { aspect-ratio: 1; height: 75%; }

.bigButton { height: 100%; flex-direction: column; }
.bigButton>img { width: 75%; height: 75%; }

.hbar:hover , .bigButton:hover  { background: #111; cursor: pointer; }
.hbar:active, .bigButton:active { background: #222; }

.itemGrid { display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            gap: 20px;
            justify-content: center; }

.itemGridItem { display: flex;
                flex-direction: column;
                min-width : 300px; width : 300px; max-width : 300px;
                min-height: 300px; height: 300px; max-height: 300px;
                border-radius: 10px;
                border: 2px solid #EEE; }